{% extends 'base.html' %} {% set title = 'About' %} {% block content %}

<div class="short_content" style="text-align: center; width: 80%; margin: auto">
  <h1>Free and open-source brewery data</h1>
  <h2>Provided By</h2>
  <img src="{{ url_for('static', filename='images/obdb-logo.png') }}" alt="OBDB Logo" width="200" />
  <h1><a href="https://www.openbrewerydb.org/" target="_blank">Open Brewery DB</a></h1>
  <br />
  <a class="btn btn-warning" href="{{ url_for('home') }}" role="button">Home</a>
</div>

{% endblock %}
