{% extends 'base.html' %} {% set title = 'Brewery Details' %} {% block content %}

<div class="short_content" style="text-align: center; width: 80%; margin: auto">
  Brewery Name: {{ brewery['name'] }}
  <br />
  Brewery Type: {{ brewery['brewery_type'].title() }}
  <br />
  Brewery Address: {{ brewery['street'] }}, {{ brewery['city'] }}, {{brewery['state']}}
  <br />
  <iframe
    width="640"
    height="480"
    style="border: 0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key={{ api }}&q={{ brewery['name'].replace('&', '') }},{{ brewery['city'] }},{{brewery['state']}}"
  ></iframe>
</div>

{% endblock %}
