{% extends 'base.html' %} {% set title = 'Search Results' %} {% block content %}

<div class="short_content" style="text-align: center; width: 80%; margin: auto">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      {% set counter = (page_number - 2) * 20 %}
      {% for brewery in brewery_data %}
      <tr>
        <th scope="row">
          <a href="{{ url_for('brewery_details', brewery_id=loop.index) }}">{{ loop.index + counter}}</a>
        </th>
        <td>{{ brewery['name'] }}</td>
        <td>{{ brewery['city'] }}</td>
        <td>{{ brewery['state'] }}</td>
        <td>{{ brewery['website_url'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if page_number > 0 %}
  <br />
  <a
    class="btn btn-primary"
    href="{{ url_for('search_results', page_number=page_number, search_data=search_data, search_parameter=search_parameter) }}"
    role="button"
    >Next Page</a
  >
  {% endif %}
</div>

{% endblock %}
